<h3>{{ 'sylius.ui.etl_execution.show.execution_outputs.title'|trans }}</h3>

<div class="ui list very relaxed">
    <div class="item">
        <div class="header">{{ 'sylius.ui.etl_execution.show.execution_outputs.files'|trans }}</div>
        {% for url in urls %}
            <a class="ui labeled icon button" href="{{ path('oliverde8_admin_etl_execution_download', { id: url.id, filename: url.filename }) }}">
                {% if url.filetype == "log" %}
                    <i class="file alternate outline icon"></i>
                {% else %}
                    <i class="download icon"></i>
                {% endif %}
                {{ url.filename }}
            </a>
        {% endfor %}
    </div>

    <div class="item">
        <div class="header">{{ 'sylius.ui.etl_execution.show.execution_outputs.error_message'|trans }}</div>
        <dt>{{ etl.errorMessage|nl2br }}</dt>
    </div>
</div>
