{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'app.ui.dashboard.title'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {% import '@SyliusUi/Macro/headers.html.twig' as headers %}

    <div class="ui stackable grid">
        <div class="twelve wide column">
            {{ headers.default('app.ui.dashboard.title'|trans, 'home', 'app.ui.dashboard.subtitle'|trans) }}
        </div>
    </div>

    <div class="ui card" style="width: 100%">
        <div class="content">
            <div class="ui center aligned grid">
                <div class="three column row">
                    <div class="column">
                        <div class="ui statistic">
                            <div class="label">
                                {{ "app.ui.dashboard.total_etl"|trans }}
                            </div>
                            <div class="value">
                                {{ totalEtl }}
                            </div>
                        </div>
                    </div>
                    <div class="column" >
                        <div class="ui statistic">
                            <div class="label">
                                {{ "app.ui.dashboard.total_success_execution"|trans }}
                            </div>
                            <div class="value">
                                {{ totalEtlSuccess }}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui statistic">
                            <div class="label">
                                {{ "app.ui.dashboard.total_failure_execution"|trans }}
                            </div>
                            <div class="value">
                                {{ totalEtlFailure }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="two column row">
                    <div class="column">
                        <div class="ui statistic">
                            <div class="label">
                                {{ "app.ui.dashboard.total_waiting_execution"|trans }}
                            </div>
                            <div class="value">
                                {{ totalEtlWaiting }}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui statistic">
                            <div class="label">
                                {{ "app.ui.dashboard.average_success_execution_run_time"|trans }}
                            </div>
                            <div class="value">
                                {{ averageSuccessRunTime }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

