
<h3>{{ 'app.ui.etl_execution.show.details.title'|trans }}</h3>
<div class="ui three column stackable grid">
    <div class="column">
        <div class="ui list very relaxed">
            <div class="item">
                <div class="header">{{ 'app.ui.etl_execution.show.details.name'|trans }}</div>
                <dt>{{ ('app.ui.etl_execution.names.' ~ etl.name)|trans }}</dt>
            </div>
            <div class="item">
                <div class="header">{{ 'app.ui.etl_execution.show.details.status'|trans }}</div>
                <dt>
                    {% include 'etl/_include/status.html.twig' with {data: etl.status} %}
                </dt>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="ui list very relaxed">
            <div class="item">
                <div class="header">{{ 'app.ui.etl_execution.show.details.created_time'|trans }}</div>
                <dt>{{ etl.createTime|format_datetime('short', 'medium') }}</dt>
            </div>
            <div class="item">
                <div class="header">{{ 'app.ui.etl_execution.show.details.start_time'|trans }}</div>
                <dt>{{ etl.startTime|format_datetime('short', 'medium') }}</dt>
            </div>
            <div class="item">
                <div class="header">{{ 'app.ui.etl_execution.show.details.end_time'|trans }}</div>
                <dt>{{ etl.endTime|format_datetime('short', 'medium') }}</dt>
            </div>
            <div class="item">
                <div class="header">{{ 'app.ui.etl_execution.show.details.fail_time'|trans }}</div>
                <dt>{{ etl.failTime|format_datetime('short', 'medium') }}</dt>
            </div>
        </div>
    </div>
</div>

