<div class="ui segment">
    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'ui loadable form'}}) }}
    {{ form_row(form.name, {'attr': {'class': 'field'}}) }}
    {{ form_row(form.username, {'attr': {'class': 'field'}}) }}
    {{ form_row(form.inputData, {'attr': {'class': 'field'}}) }}
    {{ form_row(form.inputOptions, {'attr': {'class': 'field'}}) }}
    {{ form_row(form.definition, {'attr': {'class': 'field'}}) }}
    <div class="ui buttons">
        <button class="ui labeled icon primary button" type="submit"><i class="save icon"></i>{{ 'sylius.ui.etl_execution.edit.save'|trans }}</button>
        <a href="{{ path('oliverde8_admin_etl_execution_index') }}" class="ui button">{{ 'sylius.ui.etl_execution.edit.cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
</div>

